/* Menu Sheet */
.ios .sheet-modal {
  border-radius: 15px 15px 0 0;
}
.ios .sheet-modal .swipe-handler {
  position: absolute;
  width: 100%;
  height: 16px;
  left: 0;
  top: 0;
  cursor: pointer;
}
.ios .sheet-modal .swipe-handler::after {
  content: "";
  width: 36px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -3px;
  border-radius: 3px;
  background: #666;
}
#menu_sheet_view .list {
  margin-bottom: 90px;
}
.ios .tabbar a[href],
.ios .tabbar a[href]:hover,
.ios .bright_ui .tabbar a[href]:hover {
  text-decoration: none;
  color: var(--f7-tabbar-link-inactive-color);
}
.ios .tabbar a.tab-link-active[href],
.ios .tabbar-icons a.tab-link-active[href] {
  color: var(--f7-tabbar-link-active-color, var(--f7-theme-color));
  background-color: var(--f7-tabbar-link-active-bg-color, transparent);
}
.ios .navbar a[href],
.ios .list .item-link {
  text-decoration: none;
}
.ios .navbar a[href]:hover {
  color: var(
    --f7-navbar-link-color,
    var(--f7-bars-link-color, var(--f7-theme-color))
  );
}

header {
  display: none;
}

.view-main .page-content {
  padding-bottom: var(--f7-page-content-extra-padding-bottom, 0px);
}

#page_wrapper {
  height: 100%;
}

#start_screen {
  padding: 0;
}

#dialog_wrapper > * {
  opacity: 1;
  margin-left: 0px;
  z-index: 10000 !important;
  transform: none;
  transition-duration: 0;
  transition-property: none;
  will-change: none;
}

.contextMenu {
  z-index: 10000 !important;
}

body.is_mobile #work_screen {
  grid-template-rows: 
  auto minmax(200px, 5000px) 26px calc(
      var(--f7-toolbar-height) + var(--f7-safe-area-bottom)
    ) !important;
}

#work_screen .panel {
  display: flex;
  position: static;
}

body.is_mobile .orbit_gizmo {
  right: auto;
  left: 0;
  transform: scale(0.75);
}

body.is_mobile #panel_selector_bar .panel_selector {
  height: var(--f7-toolbar-height);
}
body.is_mobile #panel_selector_bar .panel_selector.selected {
  background-color: transparent;
  color: var(--color-accent);
  border-bottom: none;
}
body.is_mobile #panel_selector_bar .panel_selector .icon_wrapper {
  margin: 0;
  height: var(--f7-toolbar-height);
  line-height: var(--f7-toolbar-height);
}

#panel_selector_bar::before {
  content: "";
  position: absolute;
  background-color: var(--f7-bars-border-color);
  display: block;
  z-index: 15;
  right: 0;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: 50% 100%;
  transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

#mobile_keyboard_menu {
  display: none; /* temporary */
  width: var(--f7-toolbar-height);
  padding: 11px;
  color: var(--color-text);
  height: var(--f7-toolbar-height);
}

#mode_selector_container {
  height: auto;
  width: 54vw;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.sp-container:not(.sp-flat) {
  z-index: 10000;
}

/* Toolbar Widgets */
#main_toolbar .toolbar.narrow, 
#main_toolbar .toolbar_wrapper.narrow > .toolbar {
  width: 100%;
  height: var(--f7-toolbar-height);
}
#main_toolbar .toolbar_wrapper.narrow > .toolbar > .tool.toolbar_menu {
  width: 28px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
#main_toolbar .toolbar.narrow, 
#main_toolbar .toolbar_wrapper.narrow > .toolbar > .content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: scroll hidden;
  padding: 
  0 
  calc(
    var(--f7-toolbar-inner-padding-right) + 
    var(--f7-safe-area-right) +
    20px
  ) 
  0 
  calc(
    var(--f7-toolbar-inner-padding-left) + 
    var(--f7-safe-area-left)
  );
  mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%);
}
#main_toolbar .toolbar_wrapper.narrow > .toolbar > .content::-webkit-scrollbar {
  -webkit-appearance: none;
}
.tool:active .icon {
  padding-top: 0;
}
#main_toolbar .content .tool {
  width: 28px;
  height: 28px;
  margin-left: 3px;
  margin-right: 3px;
  flex-shrink: 0;
  border-radius: var(--f7-button-border-radius);
  background-color: var(--color-button);
}
#main_toolbar .content .tool.widget {
  width: auto;
  overflow: hidden;
}
#main_toolbar .content div.tool.wide {
  min-width: 72px;
  padding: 0; 
}
#main_toolbar .content .tool.bar_select.icon_mode {
  padding: 0;
}
#main_toolbar .content div.nslide {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 0;
}
#main_toolbar .content .tool.nslide_tool.is_colored .nslide::before {
  top: 2px;
  right: 2px;
  border-width: 0;
  border-radius: 1em;
  width: 4px;
  height: 4px;
  background-color: var(--corner-color);
}
#main_toolbar .content .tool.bar_select .select_option {
  width:28px;
}
#main_toolbar .content .tool.bar_select .select_option .icon {
  transform: none!important;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Icon Fonts */
@font-face {
  font-family: "Framework7 Icons";
  font-style: normal;
  font-weight: 400;
  src: 
    url("../font/Framework7Icons-Regular.woff2") 
    format("woff2");
}
@font-face {
  font-family: 'icomoon-overwrite';
  src:  
    url('../font/icomoon-overwrite.ttf?vaf6fh') 
    format('truetype'),
    url('../font/icomoon-overwrite.woff?vaf6fh') 
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.f7-icons,
.framework7-icons {
  font-family: "Framework7 Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

.icon-only {
  max-width: none !important;
}

.icon.overwrite {
  font-family: 'icomoon-overwrite';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}