@font-face {
  font-family: "icomoon-overwrite";
  src:
    url("../font/icomoon-overwrite.ttf?pc1b9j") format("truetype"),
    url("../font/icomoon-overwrite.woff?pc1b9j") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="over-"]:not(.fa),
[class*=" over-"]:not(.fa) {
  font-family: "icomoon-overwrite" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4em;
  max-width: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.over-view3d:before {
  content: "\e930";
}
.over-outliner:before {
  content: "\e931";
}
.over-node-texture:before {
  content: "\e932";
}
